.cs-header{
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: #191818;
    color:#fff;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 20px;
}

.cs-header-title{
    position: absolute;
    left:20px;
}

.cs-header-user{
    position: absolute;
    right:20px;
    font-size:14px;
}

.cs-aside{
    position: fixed;
    top:50px;
    left:0;
    bottom:0;
    background-color: #191818;
    color:#999;
    width:200px;
    height:100%;
    overflow: auto;
}

.cs-main{
    position: fixed;
    top:50px;
    left:200px;
    bottom:0;
    right:0;
    overflow: auto;
}

.cs-main-iframe{
    border: none;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.cs-aside-1, .cs-aside-2-item{
    display: block;
    height:44px;
    line-height:44px;
}

.cs-aside-1{
    padding:0 40px;
    background: url("/Public/Common/Ico/ico-triangle-h.png") no-repeat 20px 50%
}

.cs-aside-2-item{
    padding:0 40px;
}

.cs-aside-2-active{
    background-color: #1f8dd6;
    color: #fff;
}

.cs-aside-1:hover, .cs-aside-2-item:hover{
    color: #fff;
    cursor: pointer;
}

.cs-aside-1-active{
    background-image: url("/Public/Common/Ico/ico-triangle-v.png");
}
