<script type="text/javascript" src="__PUBLIC__/Lib/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/bootstrap.js"></script>