<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存列表-库存管理</title>
    <include file="./Public/Common/Html/css.html" />
</head>
<body>
<ol class="breadcrumb">
    <li><a href="/Admin/Index/index" target="_top">库存管理</a></li>
    <li><a href="javascript:;">库存管理</a></li>
    <li><a href="/Admin/Stock/index" target="_self">库存列表</a></li>
</ol>
<div id="page">
    <form id="toolbar" class="form-inline cs-toolbar" v-show="toolbar.show" @submit.prevent>
        <label>型号：</label>
        <input type="text" class="form-control" placeholder="请输入型号" v-model="toolbar.data.model">
        <label>版本：</label>
        <select class="form-control" v-model="toolbar.data.version">
          <option value="">全部</option>
          <option value="风尚">风尚</option>
          <option value="舒适">舒适</option>
          <option value="尊贵">尊贵</option>
        </select>
        <label>颜色：</label>
        <select class="form-control" v-model="toolbar.data.color">
          <option value="">全部</option>
          <option value="白色">白色</option>
          <option value="黑色">黑色</option>
          <option value="银色">银色</option>
        </select>
        <label>顾问：</label>
        <input type="text" class="form-control" placeholder="请输入顾问用户名" v-model="toolbar.data.username">
        <label>状态：</label>
        <select class="form-control" v-model="toolbar.data.disabled">
            <option value="">全部</option>
            <option value="0">上架</option>
            <option value="1">下架</option>
        </select>
        <button type="button" class="btn btn-primary" @click="query()">查询</button>
        <button type="reset" class="btn btn-success">重置</button>
    </form>
    <hr>
    <div id="table" style="display: none" v-show="table.show">
        <table class="table table-striped table-border table-hover">
            <thead>
                <tr>
                    <th>型号</th>
                    <th>版本</th>
                    <th>颜色</th>
                    <th>VIN</th>
                    <th>引擎</th>
                    <th>进价(元)</th>
                    <th>出价(元)</th>
                    <th>顾问</th>
                    <th>精品</th>
                    <th>保险</th>
                    <th>按揭</th>
                    <th>状态</th>
                    <th>生产日期</th>
                    <th>进店日期</th>
                    <th>出库日期</th>
                    <th>上下架</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in table.data.list">
                    <td>{{item.model}}</td>
                    <td>{{item.version}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.vin}}</td>
                    <td>{{item.engine}}</td>
                    <td>{{item.inprice}}</td>
                    <td>{{item.outprice ? item.outprice : "-"}}</td>
                    <td>{{item.username ? item.username : "-"}}</td>
                    <td>{{item.jingpin}}</td>
                    <td>{{item.insurance ? item.insurance : "-"}}</td>
                    <td>{{item.mortgage ? item.mortgage : "-"}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.productdate}}</td>
                    <td>{{item.indate}}</td>
                    <td>{{item.outdate ? item.outdate : "-"}}</td>
                    <td>{{item.disabled == 0 ? "已上架":"已下架"}}</td>
                    <td>
                        <a href="javascript:;" @click="showEdit($index)">编辑</a>
                        <a href="javascript:;" v-if="item.disabled == 0" @click="disableItem(item.stockid)">下架</a>
                        <a href="javascript:;" v-if="item.disabled == 1" @click="enableItem(item.stockid)">上架</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="pull-left">
                共<span>{{table.data.totalnum}}</span>条数据，共<span>{{table.data.totalpage}}</span>页，每页<span>{{table.data.pagesize}}</span>条，第<span>{{table.data.page}}</span>页
            </div>
            <div class="pull-right">
                <button @click="firstPage()" class="btn btn-primary">首页</button>
    
                <button v-if="table.data.page <= 1" class="btn btn-disabled">上一页</button>
                <button v-if="table.data.page > 1" class="btn btn-primary" @click="prevPage()">上一页</button>
    
                <button v-if="table.data.page >= table.data.totalpage" class="btn btn-disabled">下一页</button>
                <button v-if="table.data.page < table.data.totalpage" class="btn btn-primary" @click="nextPage()">下一页</button>
    
                <button @click="lastPage()" class="btn btn-primary">末页</button>
            </div>
        </div>
    </div>
    
    <!--编辑modal-->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" value="" disabled="disabled" v-model="edit.data.stockid">
                    </div>
                    <div class="form-group">
                        <label>型号</label>
                        <input type="text" class="form-control" placeholder="请输入型号" v-model="edit.data.model">
                    </div>
                    <div class="form-group">
                        <label>版本</label>
                        <select class="form-control" v-model="edit.data.version">
                            <option value="风尚">风尚</option>
                            <option value="舒适">舒适</option>
                            <option value="尊贵">尊贵</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>颜色</label>
                        <select class="form-control" v-model="edit.data.color">
                            <option value="白色">白色</option>
                            <option value="黑色">黑色</option>
                            <option value="银色">银色</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>VIN</label>
                        <input type="text" class="form-control" placeholder="请输入VIN" v-model="edit.data.vin" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>引擎号</label>
                        <input type="text" class="form-control" placeholder="请输入引擎号" v-model="edit.data.engine" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>进货价</label>
                        <input type="text" class="form-control" placeholder="请输入进货价" v-model="edit.data.inprice">
                    </div>
                    <div class="form-group">
                        <label>出货价</label>
                        <input type="text" class="form-control" placeholder="请输入进货价" v-model="edit.data.outprice">
                    </div>
                    <div class="form-group">
                        <label>顾问</label>
                        <input type="text" class="form-control" placeholder="请输入进货价" v-model="edit.data.username">
                    </div>                    
                    <div class="form-group">
                        <label>精品</label>
                        <input type="text" class="form-control" placeholder="请输入精品" v-model="edit.data.jingpin">
                    </div>
                    <div class="form-group">
                        <label>保险</label>
                        <input type="text" class="form-control" placeholder="请输入保险" v-model="edit.data.insurance">
                    </div>
                    <div class="form-group">
                        <label>按揭</label>
                        <select class="form-control" v-model="edit.data.mortgage">
                            <option value="">未知</option>
                            <option value="0">在途</option>
                            <option value="1">本店</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" v-model="edit.data.state">
                            <option value="1">在途</option>
                            <option value="2">本店</option>
                            <option value="3">二网</option>
                            <option value="4">已售</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>生产日期</label>
                        <input type="text" class="form-control" placeholder="请输入生产日期" v-model="edit.data.productdate">
                    </div>
                    <div class="form-group">
                        <label>进店日期</label>
                        <input type="text" class="form-control" placeholder="请输入进店日期" v-model="edit.data.indate" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>出货日期</label>
                        <input type="text" class="form-control" placeholder="请输入出货日期" v-model="edit.data.outdate">
                    </div>
                    <div class="form-group">
                        <label>上下架</label>
                        <select class="form-control" v-model="edit.data.state">
                            <option value="0">上架</option>
                            <option value="1">下架</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" @click="editItem()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--新增modal-->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">编辑</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" name="keyword" value="">
                    </div>
                    <div class="form-group">
                        <label>纠错词</label>
                        <textarea class="form-control" name="changeword" value="" placeholder=""></textarea>
                        <!--<input type="text" class="form-control" name="store_id" value="">-->
                    </div>
                    <div class="form-group">
                        <label>失效时间</label>
                        <input type="text" class="form-control" name="avaiDateTime" value="" placeholder="yy-mm-dd">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>
</div>



<include file="./Public/Common/Html/js.html" />
<script type="text/javascript" src="__PUBLIC__/Admin/Stock/list.js"></script>
</body>
</html>