<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表-用户管理</title>
    <include file="./Public/Common/Html/css.html" />
</head>
<body>
<ol class="breadcrumb">
    <li><a href="/Admin/Index/index" target="_top">权限管理</a></li>
    <li><a href="javascript:;">用户管理</a></li>
    <li><a href="/Admin/User/index" target="_self">用户列表</a></li>
</ol>
<div id="page">
    <form id="toolbar" class="form-inline cs-toolbar" v-show="toolbar.show" @submit.prevent>
        <label>用户名：</label>
        <input type="text" class="form-control" placeholder="请输入用户名" v-model="toolbar.data.username">
        <label>状态：</label>
        <select class="form-control" v-model="toolbar.data.disabled">
            <option value="0">启用</option>
            <option value="1">禁用</option>
        </select>
        <input type="hidden" name="page" v-model="toolbar.data.page"/>
        <button type="button" class="btn btn-primary" @click="query()">查询</button>
    </form>
    <hr>
    
    <div id="table" style="display: none" v-show="table.show">
        <table class="table table-striped table-border table-hover">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>手机</th>
                    <th>角色</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in table.data.list">
                    <td>{{item.username}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.groupname}}</td>
                    <td>{{item.createtime}}</td>
                    <td>
                        <a href="javascript:;" @click="showEdit($index)">编辑</a>
                        <a href="javascript:;" v-if="item.disabled == 0" @click="disableItem(item.userid)">禁用</a>
                        <a href="javascript:;" v-if="item.disabled == 1" @click="enableItem(item.userid)">启用</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="pull-left">
                共<span>{{table.data.totalnum}}</span>条数据，共<span>{{table.data.totalpage}}</span>页，每页<span>{{table.data.pagesize}}</span>条，第<span>{{table.data.page}}</span>页
            </div>
            <div class="pull-right">
                <button @click="firstPage()" class="btn btn-primary">首页</button>
    
                <button v-if="table.data.page <= 1" class="btn btn-disabled">上一页</button>
                <button v-if="table.data.page > 1" class="btn btn-primary" @click="prevPage()">上一页</button>
    
                <button v-if="table.data.page >= table.data.totalpage" class="btn btn-disabled">下一页</button>
                <button v-if="table.data.page < table.data.totalpage" class="btn btn-primary" @click="nextPage()">下一页</button>
    
                <button @click="lastPage()" class="btn btn-primary">末页</button>
            </div>
        </div>
    </div>
    
    <!--编辑modal-->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" value="" disabled="disabled" v-model="edit.data.userid">
                    </div>
                    
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" name="keyword" value="" disabled="disabled" v-model="edit.data.username">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" v-model="edit.data.disabled">
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>手机</label>
                        <input type="text" class="form-control" name="phone" value="" placeholder="请输入手机号码" v-model="edit.data.phone">
                    </div>
                    <div class="form-group">
                        <label>角色</label>
                        <select class="form-control" v-model="edit.data.groupid">
                            <option value="1">管理员</option>
                            <option value="2">普通用户</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" @click="editItem()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--新增modal-->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">编辑</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" name="keyword" value="">
                    </div>
                    <div class="form-group">
                        <label>纠错词</label>
                        <textarea class="form-control" name="changeword" value="" placeholder=""></textarea>
                        <!--<input type="text" class="form-control" name="store_id" value="">-->
                    </div>
                    <div class="form-group">
                        <label>失效时间</label>
                        <input type="text" class="form-control" name="avaiDateTime" value="" placeholder="yy-mm-dd">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>
</div>



<include file="./Public/Common/Html/js.html" />
<script type="text/javascript" src="__PUBLIC__/Admin/User/list.js"></script>
</body>
</html>