<!--<div id="toolbar" class="toolbar" v-show="toolbar.show">-->
    <!--<div class="input-group-inline">-->
        <!--<label class="input-label">用户组名：</label><input class="input input-text" type="text" v-model="toolbar.data.groupname">-->
    <!--</div>-->
    <!--<div class="input-group-inline">-->
        <!--<label class="input-label">是否启用：</label>-->
        <!--<select v-model="toolbar.data.isdelete" class="input input-select">-->
            <!--<option value="0">启用</option>-->
            <!--<option value="1">禁用</option>-->
        <!--</select>-->
    <!--</div>-->
    <!--<input type="hidden" v-model="table.page">-->

    <!--<button @click="getItemList(toolbar.data.groupname, toolbar.data.isdelete, 1)" class="input input-button">查询</button>-->
    <!--<button @click="showAdd()" class="input input-button">新增</button>-->
<!--</div>-->

<form id="toolbar" class="pure-form cs-toolbar" v-show="toolbar.show">
    <fieldset>
        <label>用户名：</label>
        <input type="text" placeholder="请输入用户名">
        <button type="button" class="pure-button pure-button-primary">查询</button>
    </fieldset>
</form>